:host {
  display: block;
  padding: 25px;
  color: var(--input-attachment-text-color, #000);
  font-size: 13px;
}

:host *{
  box-sizing: border-box;
  position: relative;
}

file-drop {
  cursor: pointer;
  display: block;
  outline-offset: -10px;
  background: var(--input-attachment-drop-bg, rgba(255,255,255, 0.25));
  padding: 20px;
  text-align: center;
  transition: all 0.15s;
  outline: 2px dashed var(--input-attachment-drop-border, rgba(0,0,0,0.25));
  color: var(--input-attachment-drop-color, #444);
  font-size: 14px;
}

file-drop.-full{
  width: 100%;
}

p{
  padding: 10px 20px;
  margin: 0;
}

.-dragover{
  background: var(--input-attachment-drop-bg-active, rgba(255,255,255,0.5));
  outline: 2px dashed var(--input-attachment-drop-border, rgba(0,0,0,0.25));
}

.media-preview {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

:host.separate-upload{
  padding: 0 10px;
  margin-top: 10px;
  font-size: 0.9em;
}

@media (prefers-color-scheme: dark) {
  :host {
    --input-attachment-text-color: #e0e0e0;
    --input-attachment-drop-bg: rgba(255,255,255, 0.08);
    --input-attachment-drop-border: rgba(255,255,255, 0.25);
    --input-attachment-drop-color: #bbb;
    --input-attachment-drop-bg-active: rgba(255,255,255, 0.15);
    --input-attachment-error-color: #f66;
  }
}
